/* COLORS
#272D2D Gunmetal
#744FC6 State blue
#A39BA8 Rose quartz
#B8C5D6 Powder blue
#EDF5FC Alice blue
*/

/*@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones } */
/*@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  } */
/*@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  }
/*@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops }
/*@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops }
/*@media (min-width:1281px) { /* hi-res laptops and desktops } */

@media screen and (max-width: 600px) {
}

/*-----------------------------------------------------------------------------------------  */
/* ----------------------Reset, body, container börjar här---------------------------------- */
/*-----------------------------------------------------------------------------------------  */
* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #272d2d;
}

html,
body {
  background-color: #edf5fc;
  background-color: #edf5fc;
  width: 100vw;
  height: 100vh;
}

#container {
  display: grid;
  min-height: 100%;
  max-width: 100vw;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 4fr auto;
  /*KOlla på höger aside*/
  grid-template-areas:
    "topbar topbar topbar"
    "form content database"
    "footer footer footer";
}

@media screen and (max-width: 600px) {
  #container {
    display: grid;
    min-height: 100%;
    max-width: 100vw;

    /* grid-template-rows: auto auto auto auto; */
    grid-template-columns: 1fr;
    grid-template-areas:
      "topbar"
      "form"
      "database"
      "content"
      "footer";
  }
}

header {
  background: linear-gradient(
    170deg,
    rgba(63, 43, 109, 1) 0%,
    rgba(116, 79, 198, 1) 35%,
    rgba(155, 114, 246, 1) 100%
  );
  height: 10vh;
  grid-area: topbar;
}
/*-----------------------------------------------------------------------------------------  */
/* -------------------------Reset, body, container slutar här------------------------------- */
/*-----------------------------------------------------------------------------------------  */
/* ------------------------------Aside börjar här------------------------------------------- */
/*-----------------------------------------------------------------------------------------  */

@media screen and (max-width: 600px) {
  aside {
    grid-area: database;
    width: 100vw;
    display: grid;
    display: flex;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(
      140deg,
      rgba(137, 130, 141, 1) 0%,
      rgba(163, 155, 168, 1) 35%,
      rgba(208, 197, 215, 1) 100%
    );
    /* padding: 2rem; */
    text-align: center;
    font-weight: bold;
    font-size: 18px;

    aside {
      grid-area: database;
      background: linear-gradient(
        140deg,
        rgba(137, 130, 141, 1) 0%,
        rgba(163, 155, 168, 1) 35%,
        rgba(208, 197, 215, 1) 100%
      );
      width: 100vw;
      height: 85vh;
    }

    .filter-container {
      /* startar grid layout för barnen i filter-container */
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto;
      gap: 10px;
      justify-content: space-between;
      margin-inline: 2rem;
    }

    .filters-color,
    .filters-monster {
      display: grid;
      grid-template-columns: repeat(2, minmax(120px, 1fr));
      gap: 10px;
    }

    .reset-filter-container {
      display: grid;
      grid-column: 1 / -1; /* Centrera knappen över hela bredden */
    }

    .reset-filter-button {
      font-size: 18px;
      font-weight: bold;
    }

    h4 {
      grid-column: 1 / -1; /* Centrera knappen över hela bredden */
      margin: 10px 0; /* Avstånd ovanför och nedanför rubrikerna */
      text-align: center; /* Centrera texten */
    }

    .filter-button,
    .reset-filter-button {
      background-color: white; /* Vit bakgrund för knapparna */
      border: 2px solid rgba(116, 79, 198, 1); /* Ljusgrå kant */
      border-radius: 20px; /* Rundade kanter */
      padding: 10px; /* Utrymme inuti knappen */
      font-size: 18px; /* Textstorlek */
      cursor: pointer; /* Pekar muspekaren */
      transition: background-color 0.5s, color 0.5s; /* Mjuk övergång */
      min-height: 50px; /* Minimum höjd för knapparna */
      text-align: center; /* Centrera texten i knapparna */
    }

    /* Hover-effekt */
    .filter-button:hover,
    .reset-filter-button:hover {
      background-color: #dfd2d2; /* Ljusgrå bakgrund vid hover */
    }
  }
}
@media screen and (min-width: 601px) {
  /* Sido-menyn för filter / statistik. 
Finns hover funktion på asiden. */
  aside {
    /* background-color: #B8C5D6; */
    grid-area: database;
    background: linear-gradient(
      140deg,
      rgba(137, 130, 141, 1) 0%,
      rgba(163, 155, 168, 1) 35%,
      rgba(208, 197, 215, 1) 100%
    );
    padding: 10px;
    position: relative;
    width: 50px; /* Standardbredd när den inte är hovrad */
    height: fit-content;
    border-radius: 30px 0px 0px 0px;
    transition: width 1.5s ease; /* Mjuk övergång för breddändring */
    overflow: hidden; /* gör så att inget innehåll går utanför aside fast än att aside är mindre än vad innehållet behöver */
    margin: 1rem 0 1rem 1rem;
    /* padding: 2rem; */
    border-radius: 20px;
    box-shadow: rgb(124, 124, 124) 5px 5px 10px;
    border: 1px solid #ddd;
  }

  /* :Hover ger asiden andra attribute när man hovrar den och den växer också till bestämd bredd.  */
  aside:hover {
    width: 275px; /* Bredd för när aside är hovrad */
    border-radius: 10px 0px 10px 60px; /* Rundade kanter för aside - Gjort dem rundare när man hovrar */
  }

  /* Ändrar om texten "Filter" så att den är vertikal istället för horisontell. när aside inte är hovrad */
  .statistik {
    writing-mode: vertical-rl; /* Gör texten vertikal */
    text-decoration: underline overline 2px #dfd2d2;
    margin-top: 10px;
    text-underline-offset: 7px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    letter-spacing: 5px;
    margin-left: 10px; /* Avstånd under caption */
    transition: writing-mode 0.3s ease, transform 0.3s ease; /* Mjuk övergång för stiländringar */
  }

  /* Vid hover så visas "filtret" horisontellt igen. */
  aside:hover .statistik {
    writing-mode: horizontal-tb; /* Gör texten horisontell vid hover */
  }

  .filter-container {
    /* startar grid layout för barnen i filter-container */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    opacity: 0; /* Dölja knapparna */
    visibility: hidden; /* Dölja knapparna */
    transition: opacity 1.5s ease, visibility 1.5s; /* Fadear in knapparna så dem syns sakta men säkert */
    gap: 10px;
    justify-content: space-between;
    margin: 5px;
  }

  /* Visa knapparna när det är hover */
  aside:hover .filter-container {
    opacity: 1; /* Visa knapparna vid hover */
    visibility: visible; /* Gör knapparna synliga */
    transition: opacity 1.5s ease, visibility 0s; /* Fadear in knapparna så dem syns sakta men säkert */
  }

  .filters-color,
  .filters-monster {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 10px;
  }

  .reset-filter-container {
    display: grid;
    grid-column: 1 / -1; /* Centrera knappen över hela bredden */
    margin-left: 10px;
  }

  .reset-filter-button {
    font-size: 18px;
    font-weight: bold;
  }

  h4 {
    grid-column: 1 / -1; /* Centrera knappen över hela bredden */
    margin: 10px 0; /* Avstånd ovanför och nedanför rubrikerna */
    text-align: center; /* Centrera texten */
  }

  .filter-button,
  .reset-filter-button {
    background-color: white; /* Vit bakgrund för knapparna */
    border: 2px solid rgba(116, 79, 198, 1); /* Ljusgrå kant */
    border-radius: 20px; /* Rundade kanter */
    padding: 10px; /* Utrymme inuti knappen */
    font-size: 14px; /* Textstorlek */
    cursor: pointer; /* Pekar muspekaren */
    transition: background-color 0.5s, color 0.5s; /* Mjuk övergång */
    min-height: 50px; /* Minimum höjd för knapparna */
    text-align: center; /* Centrera texten i knapparna */
  }

  /* Hover-effekt */
  .filter-button:hover,
  .reset-filter-button:hover {
    background-color: #dfd2d2; /* Ljusgrå bakgrund vid hover */
  }
}
/*-----------------------------------------------------------------------------------------  */
/* ------------------------------Aside slutar här------------------------------------------- */
/*-----------------------------------------------------------------------------------------  */

.collection {
  grid-area: content;
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 600px) {
  .collection {
    /* display: flex;
    align-items: center; */
    grid-area: content;
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
  }
}

footer {
  grid-area: footer;
  background-color: rgb(79, 11, 128);
  height: 5vh;
}
@media screen and (max-width: 600px) {
}

.monster {
  width: 1fr;
  background-color: transparent;
  height: 355px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 10px;
}
@media screen and (min-width: 601px) {
  .monster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    border-radius: 10px 60px 10px 60px;
  }
}

.monster {
  width: 1fr;
  background-color: transparent;
  height: 355px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 10px;
}
@media screen and (max-width: 600px) {
}
.monster-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.8s;
  transform-style: preserve-3d;

  tr {
    display: grid;
    grid-template-areas: "Attribute Value";
    grid-template-columns: auto 1fr;
  }

  input {
    grid-area: Value;
    text-align: right;
    width: 100%;
    height: min-content;
  }
}

.monster-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.8s;
  transform-style: preserve-3d;

  tr {
    display: grid;
    grid-template-areas: "Attribute Value";
    grid-template-columns: auto 1fr;
  }

  input {
    grid-area: Value;
    text-align: right;
    width: 100%;
    height: min-content;
  }
}
@media screen and (max-width: 600px) {
}
.monster:hover .monster-inner {
  transform: rotateY(180deg);
}
.monster:hover .monster-inner {
  transform: rotateY(180deg);
}
@media screen and (max-width: 600px) {
}
.monster-front,
.monster-back {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.monster-front,
.monster-back {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (max-width: 600px) {
}
.monster-front {
  border-radius: 5px 30px 5px 30px;
  background: linear-gradient(
    140deg,
    rgba(137, 130, 141, 1) 0%,
    rgba(163, 155, 168, 1) 35%,
    rgba(208, 197, 215, 1) 100%
  );
  color: black;
  box-shadow: rgb(124, 124, 124) 5px 5px 10px;
}
.monster-front {
  border-radius: 5px 30px 5px 30px;
  background: linear-gradient(
    140deg,
    rgba(137, 130, 141, 1) 0%,
    rgba(163, 155, 168, 1) 35%,
    rgba(208, 197, 215, 1) 100%
  );
  color: black;
  box-shadow: rgb(124, 124, 124) 5px 5px 10px;
}
@media screen and (max-width: 600px) {
}
.monster-back {
  border-radius: 30px 5px 30px 5px;
  box-shadow: rgb(124, 124, 124) 5px 5px 10px;
  background: linear-gradient(
    170deg,
    rgba(63, 43, 109, 1) 0%,
    rgba(116, 79, 198, 1) 35%,
    rgba(155, 114, 246, 1) 100%
  );
  color: #edf5fc;
  transform: rotateY(180deg);
}
.monster-back {
  border-radius: 30px 5px 30px 5px;
  box-shadow: rgb(124, 124, 124) 5px 5px 10px;
  background: linear-gradient(
    170deg,
    rgba(63, 43, 109, 1) 0%,
    rgba(116, 79, 198, 1) 35%,
    rgba(155, 114, 246, 1) 100%
  );
  color: #edf5fc;
  transform: rotateY(180deg);
}
@media screen and (max-width: 600px) {
}
.card-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  padding: 5px;
}
@media screen and (max-width: 600px) {
}
h3 {
  font-size: x-large;
  margin: 5px;
}
h3 {
  font-size: xx-large;
  margin: 5px;
}

h4 {
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
}
tr {
  text-align: left;
}
tr {
  text-align: left;
}
@media screen and (max-width: 600px) {
  td {
    text-align: right;
  }
}
td {
  text-align: right;
}

a {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3%;
}

img {
  max-inline-size: 30%;
}
@media screen and (max-width: 600px) {
  .form-container {
    grid-area: form;
    width: 100vw;
    display: grid;
    display: flex;

    grid-template-columns: 1fr;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    background: linear-gradient(
      140deg,
      rgba(137, 130, 141, 1) 0%,
      rgba(163, 155, 168, 1) 35%,
      rgba(208, 197, 215, 1) 100%
    );
    /* padding: 2rem; */

    text-align: center;
    font-weight: bold;
  }
}
@media screen and (min-width: 601px) {
  .form-container {
    grid-area: form;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(
      140deg,
      rgba(137, 130, 141, 1) 0%,
      rgba(163, 155, 168, 1) 35%,
      rgba(208, 197, 215, 1) 100%
    );
    width: fit-content;
    height: fit-content;
    margin: 1rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: rgb(124, 124, 124) 5px 5px 10px;
    text-align: center;
    font-weight: bold;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
}
@media screen and (max-width: 600px) {
  #add-monster-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 80vw;
    height: 85vh;

    label,
    input,
    select {
      width: 80vw;
      padding: 10px;
      font-size: 18px;
    }

    option {
      max-width: 80vw;
    }

    label {
      padding-top: 20px;
    }
  }
}

#add-monster-form {
  display: grid;
}
@media screen and (max-width: 600px) {
  #form-button {
    padding: 2px;
    margin: 2px;
    margin-top: 10px;
    border: 2px solid rgba(137, 130, 141, 1);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    height: 250px;
    font-size: 18px;
  }
}

#form-button {
  padding: 2;
  margin: 2;
  margin-top: 10px;
  border: 2px solid rgba(137, 130, 141, 1);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  max-height: 50px;
}

#alertDiv {
  display: grid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  z-index: 1000;

  min-height: 40%;

  min-width: 40%;
}

img {
  min-height: 60%;
  min-width: 80%;
}

.edit-button,
.confirm-button,
.cancel-button,
.remove-button,
#alertButton {
  background-color: #edf5fc;
  color: #2a3439;
  background-image: linear-gradient(
    170deg,
    /* rgba(63, 43, 109, 1) 0%, */ rgb(157, 140, 196) 0%,
    rgb(208, 191, 246) 30%,
    rgba(237, 245, 252, 1) 100%
  );
  background-size: 400% 400%;
  background-position: 100% 100%;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-position 0.5s ease;
  height: 30px;
  width: 90%;
  text-align: center;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.edit-button:hover,
.confirm-button:hover,
.cancel-button:hover,
.remove-button:hover,
#alertButton:hover {
  background-position: 20% 20%;
}

.edit-button:active,
.confirm-button:active,
.cancel-button:active,
.remove-button:active,
#alertButton:active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
