/* COLORS
#272D2D Gunmetal
#744FC6 State blue
#A39BA8 Rose quartz
#B8C5D6 Powder blue
#EDF5FC Alice blue
*/
/* COLORS
#272D2D Gunmetal
#744FC6 State blue
#A39BA8 Rose quartz
#B8C5D6 Powder blue
#EDF5FC Alice blue
*/
/*-----------------------------------------------------------------------------------------  */
/* ----------------------Reset, body, container börjar här---------------------------------- */
/*-----------------------------------------------------------------------------------------  */
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #272D2D;
}

html,
body {
    background-color: #EDF5FC;
    background-color: #EDF5FC;
    width: 100vw;
    height: 100vh;
}

#container {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 4fr auto; /*KOlla på höger aside*/
    grid-template-areas:
        "topbar topbar topbar"
        "left content database"
        "footer footer footer";
}

header {
    background: linear-gradient(170deg, rgba(63, 43, 109, 1) 0%, rgba(116, 79, 198, 1) 35%, rgba(155, 114, 246, 1) 100%);
    height: 10vh;
    grid-area: topbar;
}
/*-----------------------------------------------------------------------------------------  */
/* -------------------------Reset, body, container slutar här------------------------------- */
/*-----------------------------------------------------------------------------------------  */
/* ------------------------------Aside börjar här------------------------------------------- */
/*-----------------------------------------------------------------------------------------  */

/* Sido-menyn för filter / statistik. 
Finns hover funktion på asiden. */
aside {
    /* background-color: #B8C5D6; */
    grid-area: database;
    background: linear-gradient(140deg, rgba(137, 130, 141, 1) 0%, rgba(163, 155, 168, 1) 35%, rgba(208, 197, 215, 1) 100%);
    padding: 10px;
    height: fit-content;
    border-radius: 30px 0px 0px 30px; /* Rundade kanter för aside */
    width: 100%; /* Bestämmer att widthen är 100% av sin kolumn*/
    max-width: 50px; /* Bestämmer att widthen max får vara x */
    transition: max-width 1.5s ease; /* Övergång för hover när den växer och krymper */
}

/* :Hover ger asiden andra attribute när man hovrar den och den växer också till bestämd bredd.  */
aside:hover {
    max-width: 275px; /* Bestämmer bredd för när aside är hovrad */
    border-radius: 60px 0px 0px 60px; /* Rundade kanter för aside - Gjort dem rundare när man hovrar för att matcha rundningen på monsterkorten. */
}

/* Ändrar om texten "Filter" så att den är vertikal istället för horisontell. när aside inte är hovrad */
.statistik {
    writing-mode: vertical-rl; /* Gör texten vertikal */
    text-decoration: underline overline 2px #dfd2d2;
    margin-top: 10px;
    text-underline-offset: 7px;
    font-weight: bold; 
    font-size: x-large;
    text-align: center; 
    letter-spacing: 5px;
    margin-bottom: 5px; /* Avstånd under caption */
    transition: writing-mode 0.3s ease, transform 0.3s ease; /* Mjuk övergång för stiländringar */
}

/* Vid hover så visas "filtret" horisontellt igen. */
aside:hover .statistik {
    writing-mode: horizontal-tb; /* Gör texten horisontell vid hover */
}

.filter-container {
    /* startar grid layout för barnen i filter-container */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    opacity: 0; /* Dölja knapparna */
    visibility: hidden; /* Dölja knapparna */
    transition: opacity 1.5s ease, visibility 1.5s; /*Fadear in knapparna så dem syns sakta men säkert - */
    gap: 10px;
    justify-content: space-between;
}

/* Visa knapparna när det är hover */
aside:hover .filter-container  {    
    opacity: 1; /* Visa knapparna vid hover */
    visibility: visible; /* Gör knapparna synliga */
    transition: opacity 1.5s ease, visibility 0s; /*Fadear in knapparna så dem syns sakta men säkert*/
}

.filters-color, .filters-monster{
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 10px
}

.reset-filter-container {
    display: grid;
    grid-column: 1 / -1; /* Centrera knappen över hela bredden */
}

.reset-filter-button{
    font-size: 18px;
    font-weight: bold;
}

h4 {
    grid-column: 1 / -1; /* Centrera knappen över hela bredden */
    margin: 10px 0; /* Avstånd ovanför och nedanför rubrikerna */
    text-align: center; /* Centrera texten */
    text-decoration: underline 2px #dfd2d2;
    text-underline-offset: 7px;
}

.filter-button, .reset-filter-button {
    background-color: white; /* Vit bakgrund för knapparna */
    border: 2px solid rgba(116, 79, 198, 1); /* Ljusgrå kant */
    border-radius: 20px; /* Rundade kanter */
    padding: 10px; /* Utrymme inuti knappen */
    font-size: 14px; /* Textstorlek */
    cursor: pointer; /*Pekar muspekaren*/
    transition: background-color 0.5s, color 0.5s; /* Mjuk övergång */
    min-height: 50px; /* Minimum höjd för knapparna */
    text-align: center; /* Centrera texten i knapparna */
}

/* Hover-effekt */
.filter-button:hover, .reset-filter-button:hover {
    background-color: #dfd2d2; /* Ljusgrå bakgrund vid hover */
}

/*-----------------------------------------------------------------------------------------  */
/* ------------------------------Aside slutar här------------------------------------------- */
/*-----------------------------------------------------------------------------------------  */
.collection {
    grid-area: content;
    display: flex;
    flex-flow: row wrap;
}


main {
    background-color: #EDF5FC;
}

.monster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(140deg, rgba(137, 130, 141, 1) 0%, rgba(163, 155, 168, 1) 35%, rgba(208, 197, 215, 1) 100%);
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px 60px 10px 60px;
    box-shadow: rgb(124, 124, 124) 5px 5px 10px;
    text-align: left;
}


table {
    padding: 5px;
}

h3 {
    font-size: xx-large;
    margin: 5px;
}

h4 {
    margin-bottom: 5px;
}

tr {
    padding: 0%;
}

a {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3%;
}

img {
    max-inline-size: 30%;
}

.form-container {
    grid-area: left;
    display: grid; /* Använd grid för layout */
    grid-template-columns: repeat(1); /* Tre kolumner */
}

footer {
    grid-area: footer;
    background-color: brown;
    height: 5vh;
}
